# dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# Laravel stuff
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'

alias artisan="php artisan"
alias sart="sail artisan"

alias smf="sail artisan migrate:fresh"
alias smfs="sail artisan migrate:fresh --seed"

alias mf="php artisan migrate:fresh"
alias mfs="php artisan migrate:fresh --seed"

# Testing
alias p="phpunit"
alias pf="phpunit --filter"
alias ptf="phpunit --testdox --filter"
alias spf="sail phpunit --filter"

# Git stuff
alias gs="git status"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias ga="git add"
alias gaa="git add ."
alias gc="git commit -m"
alias gp="git push"
alias nah="git reset --hard && git clean -df"
alias changelog="git log --oneline --since='2015-03-01' --format='* %cd: %s' --date=short"
alias wip="git add . && git commit -m 'wip'"
alias gpo="git push origin"

# usage: clone https://github.com/{USER}/{REPOSITORY}.git
# clone and change directory in one step
clone() {
  if [[ -z $1 ]]; then
    echo "clone(): repository url not specified"
    echo "usage: clone https://github.com/{USER}/{REPOSITORY}.git"
  else
    repo_url=$1
    repo_name=$(basename "$repo_url" ".${repo_url##*.}")
    git clone $repo_url
    cd $repo_name
  fi
}

commit() {
  commit_message="$1"
  if [ "$commit_message" = "" ]
  then
    commit_message="wip"
  fi
  git add .
  eval "git commit -a -m '${commit_message}'"
}

# Misc stuff
alias zshconfig="vim ~/.zshrc"
alias zshreload="source ~/.zshrc"
alias hostfile="sudo vim /etc/hosts"
alias hideDesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showDesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias c="code ."
alias o="open ."
