# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jorge Cortés
	email = me@jorgecortes.dev
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPJaqK2G9Yra4RbD+Aq4CH4IRcIwQKA//rIIjYra6Ev3
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/jcortes/.gitignore_global
	pager = delta
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/jcortes/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[hub]
	protocol = https
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictstyle = diff3
